.marquee-container {
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    z-index: 2;
}

#marquee {
    width: 420px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -4.5px;
    font-size: 15px;
    color: #fff;
}
