@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';

html {
    height: -webkit-fill-available
}

body {
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 98vh;
    background-position: center top
}

#enter {
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    position: fixed;
    text-align: center;
    background-color: #000;
    transition: opacity .5s
}

.begin {
    top: 50%;
    left: 50%;
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: poppins, sans-serif
}

#main {
    z-index: 2
}

#video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center center;
    min-height: -webkit-fill-available
}

.social img {
    z-index: 2;
    height: 50px;
    color: #fff;
    padding: 10px 15px;
    flex-direction: row;
    transition: ease-out .1s
}

.social img:hover {
    transform: scale(1.125);
    transition: ease-in .1s
}

.phone {
    display: none
}

@media(max-width:768px) {
    #enter {
        display: none !important
    }
    .pc {
        display: none
    }
    .phone {
        display: block
    }
    .social {
        text-align: center;
        padding: 20px 5px;
        flex-direction: column;
        background-position: center
    }
    .social img {
        padding: 20px 15px
    }
    #video {
        display: none !important
    }
}